[build-system]
requires = [
    "setuptools",
]
build-backend = "setuptools.build_meta"

[project]
requires-python = "{{ requires_python }}"
name = "{{ name }}"
version = "0.1.0"
dependencies = []

[project.optional-dependencies]
dev = []
